name: hydrun CI

on:
  push:
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Set up hydrun
        run: |
          curl -L -o /tmp/hydrun https://github.com/pojntfx/hydrun/releases/download/latest/hydrun.linux-$(uname -m)
          sudo install /tmp/hydrun /usr/local/bin
      - name: Build agent with hydrun
        run: hydrun -o golang:1.16.3 -a amd64,arm64,arm ./Hydrunfile
      - name: Manually duplicate armv7l binary to support armv6l
        run: "[ -f out/release/growlapse-agent/growlapse-agent.linux-armv7l ] && cp out/release/growlapse-agent/growlapse-agent.linux-armv7l out/release/growlapse-agent/growlapse-agent.linux-armv6l"
      - name: Build frontend with hydrun
        run: hydrun -o golang:1.16.3 "./Hydrunfile frontend"
      - name: Publish to GitHub releases
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          files: |
            out/release/growlapse-agent/*
            out/release/growlapse-frontend/*
      - name: Publish to GitHub pages
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: gh-pages
          folder: out/release/growlapse-frontend-github-pages
          git-config-name: GitHub Pages Bot
          git-config-email: bot@example.com
